// UI Components
@import "components/testimonials";
@import "components/gems";
@import "components/list";
@import "components/avatar";
@import "components/code_boxes";

//Layout

@import "layout/footer";
@import "layout/hero";
@import "layout/sections";
@import "layout/code-content";
