/* foundation */
@import "settings";
@import "foundation";
@include foundation-everything;
@import "font-awesome";
@import "hljs-dark";

/* padding and margins */
//@import "padding-margin";

// UI Components
/*
@import "components/testimonials";
@import "components/gems";
@import "components/navigation";
@import "components/avatar";
@import "components/code_boxes";
@import "components/guides";
@import "components/pro";
@import "components/sidebar";
@import "components/panel";
*/

@import "components/sidebar"; // menu
@import "components/tabs";
@import "components/code";
@import "components/gem";
@import "components/hero";
@import "components/footer";

//Layout
/*
@import "layout/hero";
@import "layout/top-footer";
@import "layout/sections";
@import "layout/code-content";


@import "components/slick-carousel";
*/


/* this file gets compiled by grunt into an application-wide /css/application.css file! */

// #docs is the main content column in <article>.
#docs {
  padding-left: 0;
}

$topbar-height: 55px;
.top-bar .menu a {
    height: $topbar-height;
    line-height: $topbar-height;
}
.top-bar .menu > li:not(.menu-text) > a {
    padding: 0 1rem;
}


.top-bar li {
  a {
    color: $topbar-link-color;
    font-size: $topbar-link-font-size;
    font-weight: normal;

    &:hover { background-color: $topbar-hover; }
    //&:after { border-top-color: $topbar-link-color; }

  }

}

// dividers in the right bar.
.top-bar-right li {
  border-right: 1px solid #38383a;
}

//.top-bar .has-dropdown > a:after {
//    border-color: #FF0000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
//}


h1,h2,h3 {
  font-weight: normal;
}

article h2 {
  padding-top: 24px;
  border-top: 1px solid $medium-gray;
}


//article header {
//  margin-bottom: 3rem;
//}




.logo-leveler {
  margin-top: 12px;
}

.doc-last-updated {
  color: $charcoal;
}



