<a name="book" />
<h2>The Book</h2>
<div class="row the-book">
  <div class="columns medium-3">
    <a href="https://leanpub.com/trailblazer">
    <img src="/images/3dbuch-freigestellt.png" />
    </a>
  </div>

  <div class="columns medium-9">
  <h3>Yes, there's a book!</h3>
    <p>Written by the creator of Trailblazer, this book gives you <b>300 pages full of wisdom about Trailblazer</b> and its gems, such as Reform, Cells and Roar.</p>

    <p>The book comes with a <a href="https://github.com/apotonick/gemgem-trbrb">sample app repository</a> to conveniently browse through changes per chapter.</p>

    <p>In the book, <b>we build a realistic Rails application with Trailblazer</b> that discusses convoluted requirements such as dynamic forms, polymorphic rendering and processing for signed-in users, file uploads, pagination, a JSON document API sitting on top of that, and many more problems you run into when building web applications.</p>

    <p>Check out the <a href="/books/trailblazer.html">full book description</a> for a few more details about the content.</p>

    <p>If you want to learn about this project and if you feel like supporting Open-Source, please <a href="https://leanpub.com/trailblazer">buy and read it</a> and let us know what you think.</p>
    <a href="https://leanpub.com/trailblazer" class="button radius">Buy Book</a>
  </div>
</div>
