<h2>The Book</h2>
<div class="row the-book">
  <div class="columns medium-3">
    <a href="https://leanpub.com/trailblazer">
    <img src="images/3dbuch-freigestellt.png" />
    </a>
  </div>

  <div class="columns medium-9">
    <p>Yes, there's a book!</p>
    <p>Written by the busy creator of Trailblazer, it is about 70% finished and will get another 150 pages, making it 300 pages full of wisdom about Trailblazer and all the gems.</p>

    <p>If you want to learn about this project and if you feel like supporting Open-Source, please <a href="https://leanpub.com/trailblazer">buy and read it</a> and let us know what ,you think.</p>
    <a href="#" class="button radius">Buy Book</a>
  </div>
</div>
