<h2>The Book</h2>
<div class="row the-book">
  <div class="columns medium-3">
    <a href="https://leanpub.com/trailblazer">
    <img src="images/3dbuch-freigestellt.png" />
    </a>
  </div>

  <div class="columns medium-9">
  <h3>Yes, there's a book!</h3>
    <p>Written by the busy creator of Trailblazer, it is about 90% finished and will get another 30 pages, making it almost 300 pages full of wisdom about Trailblazer and all the gems.</p>

    <p>The final publication will most probably happen by the end of 2015.</p>

    <p>If you want to learn about this project and if you feel like supporting Open-Source, please <a href="https://leanpub.com/trailblazer">buy and read it</a> and let us know what you think.</p>
    <a href="https://leanpub.com/trailblazer" class="button radius">Buy Book</a>
  </div>
</div>
