<div class="sub-section">
  <h2>Controller</h2>
  <div class="row">
    <div class="columns medium-6">
      <p>Controllers in Trailblazer end up as lean HTTP endpoints: they instantly dispatch to an operation.</p>

      <p>No business logic is allowed in controllers, only HTTP-related tasks like redirects.</p>
    </div>
    <div class="columns medium-6">
        <div class="code-box">
    {% highlight ruby %}
class CommentsController < ApplicationController
  def new
    form Comment::Update
  end

  def create
    run Comment::Update do |op|
      return redirect_to comments_path(op.model)
    end

    render :new
  end
    {% endhighlight %}
  </div>
    </div>
  </div>




</div>
