<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>

    {% include top-bar.html %}

    <!-- Hero -->
    <div class="hero gems-hero {{ layout.hero_class }}-hero">
      <div class="hero-unit">
        <div class="expanded row">
          <div class="columns">
            <h1 id="project_title">
              {{ layout.hero_title }}
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="expanded row">
      <div class="medium-9 large-10 medium-push-3 large-push-2 columns">
        <article class="{{ layout.hero_class }}-body">
          <header>
            <h1 class="doc-page-title">{{ page.title }}</h1>
            <span class="doc-last-updated"><i class="fa fa-clock-o" aria-hidden="true"></i> Last updated {% last_modified_at %d %B %Y %}</span>

            <hr/>

          </header>

          <div class="row"> <!-- nach doc header -->
            <div class="large-9 columns" id="docs">   <!-- actual docs -->
              {{ content }}
            </div>

            <div class="large-3 columns sticky-container" data-sticky-container>

              <nav class="sticky columns docs-toc-wrap sticky is-anchored is-at-top side-nav"
                data-sticky data-anchor="docs" data-sticky-on="large">
                <magellan-placeholder></magellan-placeholder>
              </nav>

            </div>
          </div>
        </article>
      </div>

      <div class="medium-3 large-2 medium-pull-9 large-pull-10 columns">
        {% include sidebar.html %}
      </div>
    </div>


    {% include footer.html %}

  </body>
</html>
