<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include top-bar.html %}

<!--
    <div class="secondary callout" data-closable>
      <strong>TRB JOBS:</strong> Deutschsprachiger Ruby Developer in Hannover - <a href="/inc/jobs.html">Jaaaa!</a>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
 -->

    {% include hero.html %}

    <div class="expanded row">
      <div class="medium-9 large-10 medium-push-3 large-push-2 columns">
        <article class="{{ layout.hero_class }}-body">

          {% unless page.header == false %}
            {% include doc-header.html %}
          {% endunless %}

          <div class="row"> <!-- nach doc header -->
            <div class="large-9 columns" id="docs">   <!-- actual docs -->
              {{ content }}
            </div>

            <div class="large-3 columns sticky-container" data-sticky-container>

              {% unless page.magellan == false %}
                {% include magellan.html %}
              {% endunless %}

            </div>
          </div>
        </article>
      </div>

      <div class="medium-3 large-2 medium-pull-9 large-pull-10 columns">
        {% include sidebar.html %}
      </div>
    </div>


    {% include footer.html %}

  </body>
</html>
