<!-- Gems -->

<div id="gems" class="code-section">
  <h2>Gems</h2>
  <p>
    Trailblazer is an architectural style. However, what sounds nice in theory is backed by gems for you to implement that style.
  </p>
  <p>
    The gems itself are completely self-contained, minimalistic and solve just one particular problem. Many of them have been in use in thousands of production sites for years.
  </p>

  <ul class="medium-block-grid-3 gems-list">
    <li>
      <a href="gems/operation">
        <div class="panel">
          <h4>Operation</h4>
        </div>
      </a>
    </li>
    <li>
      <a href="gems/reform">
        <div class="panel">
          <h4>Reform</h4>
        </div>
      </a>
    </li>
    <li>
      <a href="gems/representable">
        <div class="panel">
          <h4>Representable</h4>
        </div>
      </a>
    </li>
    <li>
      <a href="gems/roar">
        <div class="panel">
          <h4>Roar</h4>
        </div>
      </a>
    </li>
    <li>
      <a href="gems/disposable">
        <div class="panel">
          <h4>Disposable</h4>
        </div>
      </a>
    </li>
  </ul>
</div>
