<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ site.name }}: {{ page.title }}</title>
<meta name="description" content="{{ page.title }} - {{ site.name }}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="keywords" content="{{ page.keywords }}, {{ site.keywords }}" />

<link href="//fonts.googleapis.com/css?family=Open+Sans:300, 400,700,800|Raleway:400,200,700" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="../../css/style.css" />
<link rel="shortcut icon" href="favicon.ico">

<script src="../../js/foundation.js"></script>
<link rel="stylesheet" href="/../../css/dark.css">
<script src="/../../javascripts/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script src="/bower_components/modernizr/modernizr.js"></script>

<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:site_name" content=" - {{ site.name }}"/>
<meta property="og:url" content=" - {{ site.url }}"/>
<meta property="og:description" content="{{ page.description }}"/>
<meta property="og:image" content="{{ page.imageurl }}"/>
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.twitter }}">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="{{ page.imageurl }}">