<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><a href="#"><img src="/../images/logo.svg"></a></a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class=""><a href="#">Getting Started</a></li>
      <li class=""><a href="gems/operation">Operation</a></li>
      <li class=""><a href="gems/cells">Cells</a></li>
      <li class=""><a href="gems/roar">Roar</a></li>
    </ul>
  </section>
</nav>
