<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/"><img style="height: 25px;" src="/images/logo-top.svg"></a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
    <li class="active"><a href="https://gitter.im/trailblazer/chat">Support chat</a></li>
    <li class="divider"></li>
      <li class="has-dropdown">
        <a href="#">Gems</a>
        <ul class="dropdown">
          <li class=""><a href="/gems/cells">Cells</a></li>
          <li class=""><a href="/gems/operation">Operation</a></li>
          <li class=""><a href="/gems/reform">Reform</a></li>
          <li class=""><a href="/gems/representable">Representable</a></li>
          <li class=""><a href="/gems/roar">Roar</a></li>
          <li class=""><a href="/gems/disposable">Disposable</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-form">
        <a href="https://leanpub.com/trailblazer" class="button radius secondary">Get the book</a>
      </li>
      
    </ul>
  </section>
</nav>
