<nav>
  <ul class="side-nav">

    <li class="heading"><a href="/gems/operation">operation</a></li>
    <li><a href="/gems/operation/api.html">API</a></li>
    <li><a href="/gems/operation/builder.html">Builder</a></li>
    <li><a href="/gems/operation/collection.html">Collection</a></li>
    <li><a href="/gems/operation/callback.html">Callback</a></li>
    <li><a href="/gems/operation/controller.html">Controller</a></li>
    <li><a href="/gems/operation/representer.html">Representer</a></li>
    <li><a href="/gems/operation/model.html">Model</a></li>
    <li><a href="/gems/operation/policy.html">Policy</a></li>
    <li class="divider"></li>

    <li class="heading"><a href="/gems/cells">cells</a></li>
    <li><a href="/gems/cells/api.html">API</a></li>
    <li><a href="/gems/cells/testing.html">Testing</a></li>
    <li><a href="/gems/cells/render.html">Rendering</a></li>
    <li><a href="/gems/cells/engine.html">Engine Cells</a></li>
    <li><a href="/gems/cells/rails.html">Rails</a></li>
    <li><a href="/gems/cells/helpers.html">Helpers</a></li>
    <li><a href="/gems/cells/templates.html">Templates</a></li>
    <li><a href="/gems/cells/caching.html">Caching</a></li>
    <li><a href="/gems/cells/troubleshooting.html">Troubleshooting</a></li>
    <li class="divider"></li>

    <li class="heading"><a href="/gems/reform">Reform</a></li>
    <li><a href="/gems/reform/populators.html">Populators</a></li>
    <li><a href="/gems/reform/nested_forms.html">Nested Forms</a></li>
    <li><a href="/gems/reform/prepopulator.html">Prepopulator</a></li>
    <li><a href="/gems/reform/validation.html">Validation</a></li>
    <li><a href="/gems/reform/debugging.html">Debugging</a></li>
    <li><a href="/gems/reform/rails.html">Rails</a></li>
    <li><a href="/gems/reform/upgrading-guide.html">Upgrading Guide</a></li>
    <li class="divider"></li>

    <li class="heading"><a href="/gems/representable">Representable</a></li>
    <li><a href="/gems/representable/getting-started.html">Getting Started</a></li>
    <li><a href="/gems/representable/3.0/api.html">API</a></li>
    <li><a href="/gems/representable/3.0/function-api.html">Function API</a></li>
    <li><a href="/gems/representable/3.0/populator.html">Populator</a></li>
    <!-- <li><a href="/gems/representable/architecture.html">Architecture</a></li> -->
    <li><a href="/gems/representable/3.0/xml.html">XML</a></li>
    <li><a href="/gems/representable/3.0/yaml.html">YAML</a></li>
    <li><a href="/gems/representable/upgrading-guide.html">Upgrading Guide</a></li>
    <li class="divider"></li>

    <li class="heading"><a href="/gems/roar/">Roar</a></li>
    <li><a href="/gems/roar/jsonapi.html">JSON API</a></li>
    <li class="divider"></li>

    <li class="heading"><a href="/gems/disposable/">Disposable</a></li>
    <li><a href="/gems/disposable/api.html">API</a></li>
    <li><a href="/gems/disposable/default.html">Default</a></li>
    <li><a href="/gems/disposable/callback.html">Callback</a></li>
  </ul>
</nav>
