<!--    <a href="https://github.com/trailblazer/www.trailblazerb.org" class="button">View on GitHub</a>
        <a class="button" href="https://github.com/trailblazer/www.trailblazerb.org/zipball/master">Download this project as a .zip file</a>
        <a class="button" href="https://github.com/trailblazer/www.trailblazerb.org/tarball/master">Download this project as a tar.gz file</a> -->
<nav>
  <ul class="side-nav">
    <li class="heading"><a href="/gems/cells">cells</a></li>
    <li><a href="api.html">API</a></li>
    <li><a href="testing.html">Testing</a></li>
    <li><a href="render.html">Rendering</a></li>
    <li><a href="engine.html">Engine Cells</a></li>
    <li><a href="rails.html">Rails</a></li>
    <li><a href="helpers.html">Helpers</a></li>
    <li><a href="templates.html">Templates</a></li>
    <li><a href="troubleshooting.html">Troubleshooting</a></li>
    <li class="divider"></li>

    <li class="heading"><a href="/gems/operation">operation</a></li>
    <li><a href="api.html">API</a></li>
    <li><a href="builder.html">Builder</a></li>
    <li><a href="collection.html">Collection</a></li>
    <li><a href="callback.html">Callback</a></li>
    <li><a href="controller.html">Controller</a></li>
    <li><a href="representer.html">Representer</a></li>
    <li><a href="model.html">Model</a></li>
    <li><a href="policy.html">Policy</a></li>

    <li class="heading"><a href="/gems/reform">Reform</a></li>
    <li><a href="populators.html">Populators</a></li>
    <li><a href="nested_forms.html">Nested Forms</a></li>
    <li><a href="prepopulator.html">Prepopulator</a></li>
    <li><a href="validation.html">Validation</a></li>
    <li><a href="debugging.html">Debugging</a></li>
    <li><a href="rails.html">Rails</a></li>
    <li><a href="upgrading-guide.html">Upgrading Guide</a></li>
 
  </ul>
</nav>
