<h2>
  Testimonials
</h2>

<div class="row testimonial">
  <div class="columns medium-2">
    <img src="../images/igor.jpg" class="avatar">
  </div>
  <div class="columns medium-10">
    <blockquote>
      "At some point of time we started to decouple our form objects from models. Things got a lot easier when we found out there is a ready to use solution which solves our exact problem. That was Reform. Soon after, we started using all other parts of Trailblazer and haven't regretted a second of our time we spent using it."
      <cite><strong>Igor Pstyga</strong>, Shop Hers Inc</cite>
    </blockquote>
  </div>
</div>

<div class="row testimonial">
  <div class="columns medium-2">
    <img src="../images/paulo.jpg" class="avatar">
  </div>
  <div class="columns medium-10">
    <blockquote>
      "Here at Chefsclub, we are very happy with Trailblazer. Our application already has 32 concepts, 130+ operations, and Cells surprised us as an awesome feature. We feel pretty safe with it."
      <cite><strong>Paulo Fabiano Langer</strong>, Chefsclub</cite>
    </blockquote>
  </div>
</div>

<div class="row testimonial">
  <div class="columns medium-2">
    <img src="../images/yuri.jpg" class="avatar">
  </div>
  <div class="columns medium-10">
    <blockquote>
      "Trailblazer helps organize my code, the book showed me how. You can assume what each component does by its name, it's very easy and intuitive, it should be shipped as an essential part of Rails."
      <cite><strong>Yuri Freire Lima</strong>, AzClick</cite>
    </blockquote>
  </div>
</div>
