<div class="top-bar">
  <div class="top-bar-title">
    <ul class="menu horizontal">
      <li>
        <a href="/"><img style="height: 25px;" src="/images/logo-top.svg"></a>
      </li>
      <li>
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle></button>
        </span>
      </li>
    </ul>
  </div>

  <div id="responsive-menu">
    <div class="top-bar-right">
      <ul class="dropdown menu     vertical medium-horizontal" data-dropdown-menu>
        <li><a href="https://trbpro.herokuapp.com/">PREMIUM SUPPORT <img alt="Premium Support" src="/images/pro-white.png"></a></li>
        <li><a href="/newsletter/">NEWSLETTER</a></li>
        <li><a href="https://gitter.im/trailblazer/chat" onclick="trackOutboundLink('https://gitter.im/trailblazer/chat'); return false;">CHAT</a></li>
        <li><a href="/guides">GUIDES</a></li>
        <li>
          <a href="#">GEMS</a>
          <ul class="menu vertical">
            <li class=""><a href="/gems/cells">CELLS</a></li>
            <li class=""><a href="/gems/operation">OPERATION</a></li>
            <li class=""><a href="/gems/reform">REFORM</a></li>
            <li class=""><a href="/gems/representable">REPRESENTABLE</a></li>
            <li class=""><a href="/gems/roar">ROAR</a></li>
            <li class=""><a href="/gems/disposable">DISPOSABLE</a></li>
          </ul>
        </li>
        <li class="has-form">
          <a href="https://leanpub.com/trailblazer" class="button radius secondary" onclick="trackOutboundLink('https://leanpub.com/trailblazer'); return false;">GET THE BOOK</a>
        </li>
      </ul>
    </div>
  </div>
</div>
