footer {
  background: $tuatara;
  min-height: 200px;
  padding: 3em 0;
  color: lighten($tuatara, 22);
  a {
    color: lighten($tuatara, 22);
  }
  h4 {
    color: $steel;
  }
  .copyright {
    font-size: rem-calc(12);
  }
  .logo-box {
    @media #{$small-only} {
      margin-bottom: 2em;
    }
  }
  .inline-list li{
    margin-left: 0;
  }
}

.footer-icon {
  height: 50px;
  width: 50px;
  display: inline-block;
  background-repeat: no-repeat;
}

.twitter-icon {
  background-image: url("/images/twitter.svg");
  &:hover{
    background-image: url("/images/twitter-blue.svg");
  }
}
