/* Hero */

.hero {
  min-height: 400px;
  background: $jet;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  display: table;
  width: 100%;
  @media #{$small-only} {
    min-height: 300px;
  }
  h1,
  h2 {
    color: #fff;
  }
  h1 {
    font-size: rem-calc(64);
  }
  @media #{$small-only} {
    h1 {
      font-size: rem-calc(44);
    }
    h2 {
      font-size: rem-calc(24);
    }
  }
  .hero-unit {
    height: 150px;
  }
}

.hero-unit {
  display: table-cell;
  vertical-align: middle;
  height: 200px;
}


.gems-hero {
  text-align: left;
  min-height: 200px;
}

.cells-hero {
  background-color: #CE2458;
}

.operation-hero {
  background-color: #17C2AA;
}
