/* Hero */

.hero {
  min-height: 400px;
  background: $jet;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  display: table;
  width: 100%;
  h1,
  h2 {
    color: #fff;
  }
  h1 {
    font-size: rem-calc(64);
  }
}




.hero-unit {
  display: table-cell;
  vertical-align: middle;
  height: 200px;

}
