.sub-section {
  padding: 3em 0;
  @media #{$small-only} {
    padding: 2em 0;
  }
  width: 100%;
  h2 {
    margin-bottom: 2em;
    @media #{$small-only} {
      margin-bottom: 1em;
    }
  }
}

.section-separator {
  background: $ghost;
}

.code-section {
  margin-bottom: 3em;
}

.gems {
  background: $vapor;
}
