section {
  padding: 3em 0;
  width: 100%;
  h2 {
    margin-bottom: 2em;
  }
}

.testimonials {
  background: $vapor;
  .row.testimonial {
    margin-bottom: 2em;
  }
  .avatar {
    border-radius: 50%;
  }
}

.book {
  background: $ghost;
}

.code-section {
  margin-bottom: 3em;
}
