pre.highlight {
  padding-bottom: 2em;
}

pre {
  padding-bottom: 2em;
}

code.hljs {
  border: none;
  border-radius: 0;
  padding: 6px;
}

code {
  border: none;
  background-color: $nav-link-bg-color-hover;
}
