#doc-header {
  .version {
    /* background-color: #cecece; */ /* defined via $color in _gem.scss. */
    border-radius: 3px;
    padding: 6px;
    font-size: 11pt;
    margin-left: 3px;
    color: #FFF;
    font-weight: normal;

  }
  .other {
    background-color: #cecece;
  }
}
