.gems-list {
  margin-top: 4em;
  li {
    min-height: 100px;
    text-align: center;
  .avatar {
    margin: 0 auto 1.5em auto;
    transition: all .2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
