/* Gems colors */

$formular-color: #0da331;
$cells-color: #CE2458;
$operation-color: #17C2AA;
$operation2-color: #af111c;
$reform-color: #F04694;
$representable-color: #10A6F7;
$roar-color: #F4A608;
$disposable-color: #8714AD;
$generic-color: #af111c;

/* Mixin to have each gem page with its own link color */

@mixin gems-color($color) {
  a {
    color: $color;
    &:hover {
      color: darken($color, 10%);
    }
  }

  // .tabs {
    .tabs-title {
        a[aria-selected='true'] {
          background: lighten($color, 10%);
          color: white;
          &:hover {
            color: white;
          }
        }
      // }
    }
  // }

  .tabs-content {
    border: 1px solid lighten($color, 20%);
    background: lighten($color, 60%);
  }

  .version {
    background-color: $color;
  }
}


.cells-body {
  @include gems-color($cells-color)
}

.operation-body {
  @include gems-color($operation-color)
}
.operation2-body {
  @include gems-color($operation2-color)
}

.reform-body {
  @include gems-color($reform-color)
}

.representable-body {
  @include gems-color($representable-color)
}


.disposable-body {
  @include gems-color($disposable-color)
}

.formular-body {
  @include gems-color($formular-color)
}

.generic-body {
  @include gems-color($generic-color)
}


i.engage {
  font-size: 3em;
  text-align: center;
  width: 100%;
  margin: 12px 0;
}

.diagram.left {
  float: left;
  margin-right: 33px;
}

a.button {
  color: white;
}
