section.mascots {
  .columns {
    padding: 1em;
  }

  .mascot {
    width: 100%;
    text-align: center;
    img {
      height: 210px;
    }
  }

}

section.quarters {
  h4 {
   font-size: 20px;
   font-weight: 600;
    .fa { display: inline-block; width: auto; font-size: 45px; }
  }
}

.grey {
  background-color: #eaeced;
  padding-top: 2em;
  padding-bottom: 2em;
}

section {
  padding-bottom: 3em;
}
