/* --- sidebar menus --- */

// see _settings.scss for $variables.

.side-nav {
  li {
    a {
      padding: .5rem 0 .5rem 1rem; //rem-calc(3 0);
      color: $nav-link-color;
      font-size: rem-calc(14);

      &:hover, .active {
        color: $nav-link-color-hover;
        background: $nav-link-bg-color-hover;
      }

      i { vertical-align: inherit; } // in the sidebar, this puts the > icons in line with the text.

    }
    a.active {
      color: scale-color($nav-link-color, $lightness: 20%);
      background: hsla(0, 0, 0, 0.075);
    }

  }
  li.heading {
    font-weight:bold;
  }
  li.divider {
    border-top: 1px solid scale-color($nav-link-color, $lightness: 90%);
  }

  .page-toc-heading {
    padding: .5em 1em;
    font-weight: bold;
    font-size: rem-calc(14);
  }


  .sidebar-info {
    background-color: #cecece;
    border-radius: 3px;
    padding: 3px;
    font-size: 8pt;
    margin-left: 3px;
    color: #FFF;
    font-weight: normal;
  }
}

