$slick-font-family : FontAwesome;
$slick-dot-size: 24px;

@import "slick.scss", "slick-theme.scss"; // from bower_components.

.slick-prev:before, .slick-next:before { font-family: FontAwesome; font-size: 20px; line-height: 1; color: gray; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev:before { content: "\f053"; }
[dir="rtl"] .slick-prev:before { content: "\f054"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "\f054"; }
[dir="rtl"] .slick-next:before { content: "\f053"; }


#code-slider {
  .slick-prev { left: 33px; z-index: 1; }
  .slick-next { right: 33px; }
  .sub-section { padding-bottom: 0; }
}


.magellan-scrollnav {
  width: 25%;
  [data-magellan-expedition], [data-magellan-expedition-clone] {
    width: 250px;
    min-width: 0;
  }
}
