$code-block-background-color: #232324;

.tabs-container {
  padding-bottom: $global-padding-bottom;
}
// see foundation-sites/components/_tabs.scss for "documentation".
// parts of this is configured in _gem.scss

article {
  .tabs {
    border: 0;

    .tab-title {
      a {
        color: $white;

        // is-active configured in _gem.scss

        &:hover {
          color: $nav-link-color-hover;
          background: $nav-link-bg-color-hover;
        }
        outline: none;
      }
    }
  }

  .code-only {
    .tabs {
      .tabs-title {
        a {
          font-size: 0.8rem;
        }

        &.is-active {
          a {
            background: $code-block-background-color;
            color: $white;
            &:hover {
              color: $white;
            }
          }
        }
      }
    }


    .tabs-panel, .tabs-content {
      background: transparent;
      border: 0;
      margin: 0;
      padding: 0;
      pre {
        margin-top: 0;
      }
    }
  }
}
