<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trailblazer</title>
    <meta name="description" content="{{ page.title }} - {{ site.name }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="{{ page.keywords }}, {{ site.keywords }}" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="css/dark.css">
    <script src="/javascripts/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>

  <body>
    <!-- Top Bar -->
    {% include nav.html %}

    <!-- Hero -->
    {% include hero.html %}

    <!-- About -->
    <section class="sub-section about">
      <div class="row">
        <div class="columns">
            {% include about.html %}
        </div>
      </div>
    </section>


    {{ content }}

    <!-- Gems -->
    <section class="sub-section gems">
      <div class="row">
        <div class="columns">
            {% include gems.html %}
        </div>
      </div>
    </section>

    <!-- Book -->
    <section class="sub-section book">
      <div class="row">
        <div class="columns">
            {% include book.html %}
        </div>
      </div>
    </section>

    <!-- Testimonials -->
    <section class="sub-section testimonials">
      <div class="row">
        <div class="columns">
          {% include testimonials.html %}
        </div>
      </div>
    </section>

    <!-- Footer -->
    {% include footer.html %}

    {% include scripts.html %}

    <script>
        $(document).foundation();
    </script>
</html>
