<!doctype html>
<html class="no-js">
  <head>
    {% include head.html %}
  </head>

  <body class="representable-body">
    <!-- Top Bar -->
    {% include nav.html %}

    <!-- Hero -->
    <div class="hero gems-hero representable-hero">
      <div class="hero-unit">
        <div class="row">
          <div class="columns">
            <h1>
              Representable
            </h1>
          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="columns large-3 sidebar">
        {% include sidebar.html %}
      </div>
      <div class="columns medium-9 code-content">
        {{ content }}
      </div>
    </div>

    <!-- Footer -->
    {% include footer.html %}

    {% include scripts.html %}

  </body>
</html>
